body {
    margin: 0 auto;
    box-sizing: border-box;

}

#jumbo {
    color: rgb(7, 160, 96);
    background-color: lightgray;
}

#jumbo a{
    text-decoration: none;
    color: rgb(7, 160, 96);
}

.jumbotron {
    margin-bottom: 60px;
}


.nav-link {
    font-size: 20px;
}

.no-radius {
    border-radius: 0!important;
}

#navbarSupportedContent {
    padding-left: 500px;
}
h1 {
    font-family: Georgia;
    font-size: 14px;
}

a {
    color: black;
    padding-right: 0.7em;
    font-family: Verdana;
    font-size: 14px;
}


.it1 {
    grid-column: 1/2;
}
.it2 {
    grid-column: 2/3;
}
.it3 {
    grid-column: 3/4;
}

.innerContainer {
    min-height: 100vh;
}
.bg-custom {
    background-color: rgb(62, 184, 112);
    border-bottom: 3px solid rgb(22, 68, 49);
    color: white;
}

#login {
    display: block;
    top: -100px;
}

#tablecart {
    text-align:center; 
    display:block; 
}

