{% extends 'index.html' %}
{% load crispy_forms_tags %}
    {% block content %}
	<style>
		body {
			background: linear-gradient(to bottom, #fff, #3ca5cc);
			background-attachment: fixed;
		  }
	</style>
    <div class="container h-100" style="margin-top:5%;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title" style="margin: 5%;">Change Password</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="" style="margin: 5%;">
						{% csrf_token %}
                        {{form|crispy}}

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn btn-success" type="submit" value="Change Password">
                        </div>

					</form>

				</div>

			
			</div>
		</div>
	</div>
</body>
    {% endblock %}






    
</body>
</html>